html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#camera, #camera--view, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--sensor
{
    display:none;
}

video
{
    z-index:10;
}
canvas{
    z-index:8;
}

#camera--trigger{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    color:transparent;
    background:rgba(0,0,0,0);
    border:none;
    z-index:11;
}

#camera--trigger:focus, #camera--trigger:active, #rescan:focus, #rescan:active{
    outline:none;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

#rescan{
    color:white;
    font-weight:400;
    background:rgb(0,101,202);
    padding:10px 15px 5px 15px;
    border-radius:50px;
}

.output_image
{
    border-radius:50px;
}



